/*Add styling to body of page*/
body{
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  padding-bottom: 70px;
  background-color :#80DEEA;
}

/*Add styling to the title of the page id title*/
#title{
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  top: 50%;
  position: absolute;
  color:#FFFCFC;
}

/*Add styling to the image on aboutme section*/
#about-img{
  width: 50%;
}

/*Add styling to the paragraph and lists*/
#aboutme-para{
  background-color: inherit;
  padding-top: 60px;
  margin: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}

/*Add styling to the lists under the about me section*/
.aboutme-edu li{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 23px;
  text-align: left;
}

/*Add styling to all header h1,h3*/
h1,h3{
  text-align: center;
  font-weight: bold;
}

/*Add styling header h2*/
h2{
  padding-left: 20px;
  text-align: left;
}

/*Add color to important words*/
.important{
  color: blue;
}

/*Add styling to the card in about me section*/
 .about-card {
   background-color: #EF6F6C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 60px;
  padding: 10px;
  text-align: center;
  padding: 20px;
}

/*Add styling to the card in about me section*/
 .paragraph-card{
  background-color: #EF6F6C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 450px;
  margin: 40px;
  padding: 20px;
  text-align: center;

}
/*Add styling to the button in the card aboutme*/
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
/*Add styling to all a tag elements*/
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
/*Add styling to container */
.container {
  padding:0;
  width: 100%;
  background-color: #f2f2f2;
}
#container-aboutme{
  background-color: inherit;
}
.nav navbar-nav{
  color: #EF6F6C;
}
